<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://kit.fontawesome.com/dd6ea4ec65.js" crossorigin="anonymous"></script>
</head>

<body>

    <!--Navbar-->
    <nav class="block bg-sky-200 h-14 px-3 dark:bg-black">
        <div class="flex justify-between items-center h-full">
            <div class="flex flex-row h-full">
                <!--Logo-->
                <div class="flex flex-row items-center pl-3">
                    <i class="fa-solid fa-lock fa-xl"></i>
                    <h1 class="hidden md:inline pl-3 font-semibold text-xl ">Heirloom Vault</h1>
                </div>
            </div>

            <div>
                <!--Register-->
                <a href="/register.html"
                    class="bg-yellow-50 p-2 px-3 rounded-full cursor-pointer border hover:bg-sky-300 transition"><span
                        class="font-semibold">Register</span></a>

                <!--Login-->
                <a href="/login.html"
                    class="bg-yellow-50 ml-2 p-2 px-3 rounded-full cursor-pointer border hover:bg-sky-300 transition"><span
                        class="font-semibold">Login</span></a>
            </div>
        </div>
    </nav>


</body>

</html>