<nav class="block md:hidden bg-sky-200 dark:bg-black">
    <div class="flex justify-around">
        <a href="/family-groups.html" class="hover:bg-sky-400 transition ">
            <i class="fa-solid fa-house fa-lg p-8"></i>
        </a>
        <a href="/GroupChatPage.html" class="hover:bg-sky-400 transition">
            <i class="fa-solid fa-comments fa-lg p-8"></i>
        </a>
        <a href="/profile.html" class="hover:bg-sky-400 transition">
            <i class="fa-solid fa-user fa-lg p-8"></i>
        </a>
    </div>
</nav>

<script src="../scripts/nav.js"></script>