<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://kit.fontawesome.com/dd6ea4ec65.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <nav class="bg-sky-200">
        <div class="flex justify-between items-center px-4 py-3">
            <div class="flex flex-row">
                <button class="hidden md:inline"><i class="fa-solid fa-bars fa-xl p-3"></i></button>
                <div class="flex flex-row items-center pl-5">
                    <i class="fa-solid fa-lock fa-xl"></i>
                    <h1 class="hidden md:inline pl-3 font-semibold text-xl ">Heirloom Vault</h1>
                </div>
            </div>
            <form class="flex">
                <input name="search" type="search" placeholder="Search" class="bg-white rounded-l-full p-1.5 pl-3 w-70">
                <button class="fa-solid fa-magnifying-glass bg-sky-400 p-2 px-3 rounded-r-full cursor-pointer hover:bg-sky-300"></button>
            </form>
        </div>
    </nav>

</body>
</html>